.starter{
    background-image: url(images/lines.jpg);
    background-size: cover;
    border-bottom: 5rem;
}
.navbar{
   background-color: rgba(255, 255, 255, 0.598);
}
.navbar a,.navbar a:hover{
font-size:1.2rem;
font-weight: bold;
}
.navbar-brand {
    font-family: "Audiowide", sans-serif;
    padding-left:4rem;
  }
.in_body{
    margin-top: 3rem;
}
.inside_body{
    width: 80%; 
    color:rgb(1, 0, 5);
    background-image: url(images/slide.jpg);
    background-size: cover;
    border-radius: 4rem;
    margin: auto;
    box-shadow: 10px 0px 5px rgb(154, 146, 146);
}
.inner_bod{
 padding-top: 5em;
 width:60%;
 margin:auto;
 font-size: bold;
}
.inner_bod h1{
    /* font-family: 'Lobster', cursive; */
    font-size: 4rem;
}

.explore button,.unexplore button{
    font-size: 1.2rem;    
    font-weight:1rem;   
    color: black;
    padding-left:2rem;
    padding-right: 2rem;
    border-radius: 50px;
}

.col-4{
    overflow: scroll;
}

.cars{
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    height: 498.px rem;
    border-radius:14px;
    margin:2rem;
}
.cars img{
    width:25%;
}


/* carousel */

.carousel{
    padding:2rem;
}
    
/* tech */
.tech{
    padding: 4rem;
}
.tech h1,.row h1{
    font-family: "Audiowide", sans-serif;
}

.footer
{
    background: rgb(2,0,36);
    background: linear-gradient(159deg, rgba(2,0,36,1) 0%, rgba(54,124,149,1) 0%, rgba(129,118,209,1) 22%, rgba(108,133,216,1) 46%, rgba(0,212,255,1) 85%); 
    text-align: center;
    font-size: 2rem;
}
.footer a i{
    color: rgb(251, 251, 251);
    padding: 1rem 2rem;
}